@import "../globals/variables.scss";

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 80vh;
  background-color: $base-light;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.new-recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  width: 500px;
}

.icons {
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.icon:hover {
  cursor: pointer;
}

.ingredient {
  width: 50%;
  display: flex;
  flex-direction: row;
}